{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<img src="{{ asset('assets/photos/empty.jpg') }}" alt="card-img-top" style="width: 100%; height: auto;">
				</div>
				<div class="col-md-4">
					<h1>{{photo.title }}</h1>
					<h2>Postée le :
						{{ photo.postAt|date("d/m/Y") }}</h2>
					<div class="text-primary" style="font-weight: bold; font-size: 1.3rem">
						<p>Par :
							{{ photo.user.pseudo }}</p>
					</div>
					{% if app.user %}
						<a href="#" class="btn btn-primary">Mettre un commentaire</a>
						<div id="commentForm" class="mt-4">
							<p>formulaire de saisie du commentaire</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8">
				<h2>Commentaires</h2>
				<table class="table table-striped">
					<tr>
						<th>Commentée par</th>
						<th>Date</th>
						<th>Commentaire</th>
					</tr>
					<tr>
						<td>le pseudo</td>
						<td>la date de création</td>
						<td>le commentaire</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
